<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Intellidesk.Resources.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Intellidesk.AcadNet.Resources.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Intellidesk.AcadNet.Resources.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Intellidesk.Resources.Properties.Settings>
            <setting name="MapInfoApiViewerUrl" serializeAs="String">
                <value>http://Vmmapinfo/AutocadMapviewerSvc/Acmv.svc?singleWsdl</value>
            </setting>
            <setting name="PaletteSetId" serializeAs="String">
                <value>06B75904-219F-4CA5-AC02-E3970A645F19</value>
            </setting>
            <setting name="IncludeFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProjectExplorerFoldersSectionHeight" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="ProjectExplorerFilesSectionHeight" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="ToolPanelTop" serializeAs="String">
                <value>SearchText</value>
            </setting>
            <setting name="ToolPanelWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="IntelliDeskHost" serializeAs="String">
                <value>http://intellidesk/</value>
            </setting>
            <setting name="IntelliDeskApiUrlSample" serializeAs="String">
                <value>http://intellidesk/api/Draw/Point/?x=120&amp;y=210</value>
            </setting>
            <setting name="ZoomDisplayFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DbHost" serializeAs="String">
                <value>SQL2008DB</value>
            </setting>
            <setting name="MapInfoApiHost" serializeAs="String">
                <value>vmmapinfo</value>
            </setting>
            <setting name="ResourceImages" serializeAs="String">
                <value>Intellidesk.AcadNet.Resources.Properties.Resources</value>
            </setting>
            <setting name="MapInfoApiPointUrlFormat" serializeAs="String">
                <value>http://vmmapinfo/MapService/api/SetOnMap?x={0}&amp;y={1}&amp;user={2}</value>
            </setting>
            <setting name="ResourceClass" serializeAs="String">
                <value>Intellidesk.AcadNet.Services.Properties.Resources</value>
            </setting>
            <setting name="WorkLayerName" serializeAs="String">
                <value>Gis</value>
            </setting>
            <setting name="MapinfoApiFindUrlFormat" serializeAs="String">
                <value>http://vmmapinfo/mapservice/api/setonmap/getgov?govname={0}&amp;user={1}</value>
            </setting>
            <setting name="MapitWebHost" serializeAs="String">
                <value>http://vmmapinfo/</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>Intellidesk</value>
            </setting>
            <setting name="TempLayerName" serializeAs="String">
                <value>Temp</value>
            </setting>
            <setting name="resourceFullName" serializeAs="String">
                <value>Intellidesk.AcadNet.Resources.Properties.Resources</value>
            </setting>
            <setting name="MapItPath" serializeAs="String">
                <value>mapIt/vertical</value>
            </setting>
            <setting name="RootPathBundle" serializeAs="String">
                <value>Contents\</value>
            </setting>
            <setting name="JsonDataPath" serializeAs="String">
                <value>Contents\Gis\{0}.json</value>
            </setting>
        </Intellidesk.Resources.Properties.Settings>
        <Intellidesk.AcadNet.Resources.Properties.Settings>
            <setting name="MapInfoApiViewerUrl" serializeAs="String">
                <value>http://Vmmapinfo/AutocadMapviewerSvc/Acmv.svc?singleWsdl</value>
            </setting>
            <setting name="PaletteSetId" serializeAs="String">
                <value>06B75904-219F-4CA5-AC02-E3970A645F19</value>
            </setting>
            <setting name="IncludeFolders" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>C:\</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ProjectExplorerFoldersSectionHeight" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="ProjectExplorerFilesSectionHeight" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="ToolPanelTop" serializeAs="String">
                <value>SearchText</value>
            </setting>
            <setting name="ToolPanelWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="IntelliDeskHost" serializeAs="String">
                <value>http://localhost:43210/</value>
            </setting>
            <setting name="IntelliDeskApiUrlSample" serializeAs="String">
                <value>http://intellidesk/api/Draw/Point/?x=120&amp;y=210</value>
            </setting>
            <setting name="ZoomDisplayFactor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DbHost" serializeAs="String">
                <value>SQL2008DB</value>
            </setting>
            <setting name="MapInfoApiHost" serializeAs="String">
                <value>vmmapinfo</value>
            </setting>
            <setting name="ResourceImages" serializeAs="String">
                <value>Intellidesk.AcadNet.Resources.Properties.Resources</value>
            </setting>
            <setting name="MapInfoApiPointUrlFormat" serializeAs="String">
                <value>http://vmmapinfo/MapService/api/SetOnMap?x={0}&amp;y={1}&amp;user={2}</value>
            </setting>
            <setting name="ResourceClass" serializeAs="String">
                <value>Intellidesk.AcadNet.Services.Properties.Resources</value>
            </setting>
            <setting name="WorkLayerName" serializeAs="String">
                <value>Gis</value>
            </setting>
            <setting name="MapinfoApiFindUrlFormat" serializeAs="String">
                <value>http://vmmapinfo/mapservice/api/setonmap/getgov?govname={0}&amp;user={1}</value>
            </setting>
            <setting name="MapItHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>Intellidesk</value>
            </setting>
            <setting name="TempLayerName" serializeAs="String">
                <value>Temp</value>
            </setting>
            <setting name="resourceFullName" serializeAs="String">
                <value>"Intellidesk.AcadNet.Resources.Properties.Resources"</value>
            </setting>
        </Intellidesk.AcadNet.Resources.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Intellidesk.AcadNet.Resources.Properties.Settings>
            <setting name="MapItPath" serializeAs="String">
                <value>\IntelliDesk\IntelliDesk.bundle\Contents\Web\MapIt.html</value>
            </setting>
            <setting name="JsonDataPath" serializeAs="String">
                <value>\IntelliDesk\IntelliDesk.bundle\Contents\Gis\{path}.json</value>
            </setting>
        </Intellidesk.AcadNet.Resources.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
