<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="gisConfig" type="Intellidesk.AcadNet.Data.Services.ConfigurationManager, Intellidesk.AcadNet.Data.Services" allowDefinition="Everywhere" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <gisConfig ConnectionString="GisContext" />
  <connectionStrings>
    <add name="Lsds2Context" connectionString="metadata=res://*/Models.Lsds2Model.csdl|res://*/Models.Lsds2Model.ssdl|res://*/Models.Lsds2Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vmsddoff001.ger.corp.intel.com;initial catalog=LSDS2;persist security info=True;user id=lsds2_user;password=lsds2_user;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MapinfoContextPartner" connectionString="metadata=res://*/Models.MapInfoModel.csdl|res://*/Models.MapInfoModel.ssdl|res://*/Models.MapInfoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL2008DB\SQL2008;initial catalog=mapinfo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GisContextPartner" connectionString="metadata=res://*/Models.GisModel.csdl|res://*/Models.GisModel.ssdl|res://*/Models.GisModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL2008DB\SQL2008;initial catalog=mapinfo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GisContext" connectionString="data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\App_Data\gis.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MapInfoContextLocal" connectionString="metadata=res://*/Models.MapInfoModel.csdl|res://*/Models.MapInfoModel.ssdl|res://*/Models.MapInfoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\App_Data\mapinfo.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppDbContext" connectionString="metadata=res://*/Models.AppDbModel.csdl|res://*/Models.AppDbModel.ssdl|res://*/Models.AppDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVEREXPRESS;initial catalog=IntelliDesktop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IntelliDesktopContext" connectionString="Data Source=GIGABYTE-PC\sqlserverexpress;Initial Catalog=IntelliDesktop;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="IntelliDesktopContextModelFirst" connectionString="metadata=
         res://*/Models.AppDbModel.csdl|
         res://*/Models.AppDbModel.ssdl|
         res://*/Models.AppDbModel.msl;
         provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVEREXPRESS;initial catalog=IntelliDesktop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>

</configuration>
