<div style="height: 100%">
    <div data-split-pane data-split-pane-properties="splitPaneProperties">
        <div data-split-pane-component data-width=40%>
            <div id="map" style="display: none"></div>
            <div id="pano" style="position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 99999999999999"></div>
        </div>
        <div data-split-pane-divider data-width="3px"></div>
        <div data-split-pane-component>
            <mapit-component id="mapit" style="width: 100%">Loading...</mapit-component>
        </div>
    </div>
</div>