<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="run_log" xsi:type="File"
    layout="${longdate}|${level}| ${message}"
    deleteOldFileOnStartup="True" concurrentWrites="true" KeepFileOpen ="false"
    fileName="${basedir}/ID.StateService.log"
    encoding="win-1251"/>
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
    <!--
    <target name="Database" xsi:type="Database" keepConnection="true"
            useTransactions="false"
            dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"
            connectionString="Data Source=${basedir}\log.db;Version=3;"
            commandText="INSERT into LOGTABLE(Timestamp, Loglevel, Message) values(@Timestamp, @Loglevel, @Message)">
      <parameter name="@Timestamp" layout="${longdate}"/>
      <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
      <parameter name="@Message" layout="${message}"/>
    </target>
    
    <target name="csv" xsi:type="File" fileName="${basedir}/log.csv">
    <layout xsi:type="CSVLayout">
      <column name="time" layout="${longdate}" />
      <column name="message" layout="${message}" />
    </layout>
    </target>
    -->
    <!--BEGIN TRANSACTION;
    CREATE TABLE IF NOT EXISTS LOGTABLE (Message TEXT, Loglevel varchar(50), Timestamp varchar(100));
    COMMIT;-->

  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="run_log" />
    <logger name="*" minlevel="Trace" writeTo="run_log" />
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>