<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" configSource="NLog.config" />-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="jsEngineSwitcher">
      <section name="core" type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="MapInfo.Engine.Session.UseCallContext" value="false" />
  </appSettings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    <requiredRuntime version="v4.0.20506" />
  </startup>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <services>
      <service behaviorConfiguration="AcadNetServices.StateServiceBehavior" name="AcadNetServices.StateService">
        <endpoint address="" behaviorConfiguration="be1" binding="webHttpBinding" contract="AcadNetServices.IStateService" />
        <endpoint address="basic" binding="basicHttpBinding" contract="AcadNetServices.IStateService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AcadNetServices.StateServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="be1">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings />
    <client />
  </system.serviceModel>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <jsEngineSwitcher xmlns="http://tempuri.org/JavaScriptEngineSwitcher.Configuration.xsd"></jsEngineSwitcher>

</configuration>
